{
    "extends": "stylelint-config-standard",
    "ignoreFiles": ["dist/**/*.css"],
    "rules": {
        "selector-class-pattern": null,
        "custom-property-pattern": null,
        "color-function-notation": null,
        "alpha-value-notation": null,
        "property-no-vendor-prefix": null,
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": ["global"]
            }
        ]
    }
}