.main-textarea-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.main-textarea-container :global(.MuiFormLabel-root){
    font-size: var(--fontSize14);
    margin-bottom: var(--margin6);
    color: var(--greySecondary);
    font-weight: var(--fontWeight600);
}

.textareaLabelError{
    color: var(--danger);
}

.textareaAutoSize{
    padding: var(--padding18) var(--padding58) var(--padding14) var(--padding18);
    transition: all 0.5s ease-in-out;
    min-height: 30px;
    resize: none;
}

.textareaAutoSize:focus-visible{
    outline: none;
}

.textareaAutoSize:hover, .textareaAutoSize:focus{
    border: 1px solid var(--primaryHover60);
}

.textarea-autosize-filled{
    background-color: var(--offWhiteBg);
    border: 1px solid var(--backgroundTransparent);
}

.textarea-autosize-outlined{
    background-color: var(--white);
    border: 1px solid var(--greySecondaryBorder);
    color: var(--greySecondary);
}

.textarea-autosize-filled:hover, .textarea-autosize-filled:focus{
    border: 1px solid var(--primaryHover60);
}

.textarea-autosize-error, .textarea-autosize-error:hover{
    border: 1px solid var(--danger);
}

.textarea-autosize-normal{
    border-radius: var(--borderRadius8);
}

.textarea-autosize-rounded{
    border-radius: var(--borderRadius25);
}

.textareaAutoSizeIcon{
    position: absolute;
    right: 2%;
}

.textarea-success-icon,
.textarea-error-icon{
    top: 50%;
}

.errorIcon{
    color: var(--danger);
}

.successIcon{
    color: var(--success);
}

.helper-text{
    margin-top: 10px;
    padding-left: 18px;
    font-size: 14px;
    color: var(--neutral400);
}

.helper-text-error{
    color: var(--danger);
}
